# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Build and distribution
dist/
build/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# OS files
.DS_Store
Thumbs.db
db.lck
*.tmp
*.bak
desktop.ini

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Chrome Dev Profile
.chrome-profile/

